* {
  margin: 0;
  padding: 0;
  line-height: 2em;
  color: #333333;
}
nav {
  background-color: #2e86ab;
}
nav ul {
  display: flex;
  justify-content: flex-end;
}
nav ul li {
  list-style: none;
  border: 2px solid #333333;
  padding: 0.5%;
  margin-left: 3%;
  background-color: #f6f5ae;
  border-radius: 10px;
}
nav ul li:last-child {
  margin-right: 5%;
}
nav ul li a {
  color: #333333;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}
#home {
  display: flex;
  width: 80%;
  height: auto;
  margin: 10% auto;
  background-color: #f6f5ae;
  padding: 5%;
  box-sizing: border-box;
}
#home h3 {
  color: black;
  text-decoration: none;
}
.text,
.photo {
  flex: 1;
}
.text {
  display: flex;
  flex-direction: column;
  margin: 5% 0 0 0;
}
h1 {
  color: #2e86ab;
}
.text a {
  margin: 20% auto;
  padding: 5px 10px;
  border: 2px solid #333333;
  text-decoration: none;
  color: #333333;
  border-radius: 10px;
}
.text a:hover {
  text-decoration: underline;
}
#portfolio {
  display: flex;
  width: 80%;
  height: auto;
  margin: 10% auto;
  flex-direction: column;
  background-color: #f6f5ae;
  padding: 5%;
  box-sizing: border-box;
}
.project-01, .project-02, .project-03{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid #333333;
  padding: 3%;
}
#portfolio h4{
  margin: 5% 0;
  text-decoration: underline;
}
#portfolio img {
  width: 200px;
  height: auto;
}
h3 {
  text-align: center;
  color: #2e86ab;
  text-decoration: underline;
}
#about-me,
#contact {
  width: 80%;
  margin: 10% auto;
  background-color: #f6f5ae;
  padding: 5%;
  box-sizing: border-box;
}
#about-me h3 {
  margin-bottom: 3%;
}
#about-me .no {
  text-align: left;
  margin: 3% 0;
}

input,
button {
  display: inline-block;
  margin: 3%;
  padding: 1%;
}
.subheading{
    display: flex;
    flex-direction: row;
}
.form, .social{
    flex: 1;
}
.social p {
    text-align: center;
    text-decoration: underline;
    color: #2e86ab;
}

.social{
    align-self: center;
}
.social .social-1{
    display: flex;
    justify-content: center;
}
.social .social-1 div{
    margin: 5%;
}
.footer{
    background-color: #2e86ab;
    padding: 0.5%;
    text-align: center;
    color: #333333;
    margin-top: -5%;
}